<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- font-family: 'Roboto', sans-serif;  -->
</head>
<body style="text-align: center; font-family: 'Open Sans', 'sans-serif';">
		<img src="https://s3-us-west-2.amazonaws.com/intercasa/mailers/mail-us-header.png" alt="Intercasa" />
	<div style="margin-top: 3%; color: #1c4c5b; font-size: 20px;">
		<div style="margin-top: 0%; color: #4d4d4d;">
			<table style="width:100%; text-align: center;">
			  <tr>
			    <td>
						<strong><span style="color: #ac0033; font-size:35px; font-family: 'Roboto', sans-serif;"> <%= @user.name %></span><br></strong>
					</td>
				</tr>
			  <tr>
			    <td>
						<img src="https://s3-us-west-2.amazonaws.com/intercasa/mailers/imgmailing.png" alt="" style= "margin-top:2%;margin-bottom:2%;" />
					</td>
				</tr>
				<tr>
					<td>
						<strong><span style="color: #006e85; font-size:35px; font-family: 'Roboto', sans-serif;">VISITA NUESTRA <br> SALA DE VENTAS</span><br></strong>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div style="padding-top: 1%;">
		<img src="https://s3-us-west-2.amazonaws.com/intercasa/mailers/footer-2.png" alt="" />
	</div>
</body>
</html>
