<div class="text-center" id="getOut">
  <p>Estás utilizando una versión desactualizada de Internet Explorer, esto hará que no puedas visualizar correctamente nuestra página.
    Te invitamos a que descargues Chrome, Safari o Mozilla Firefox y puedas ver toda la información que tenemos para ti.
  </p>
</div>
