<div class="ty-container">
  <div class="row no-margin">
    <div class="col-md-12 no-padding text-center">
      <%= image_tag 'logo-ty.png', class: 'logo-ty' %>
    </div>
    <div class="col-md-12 no-padding text-center">
      <div class="box-ty">
        <span class="text-1-box">GRACIAS POR</span><br>
        <span class="text-1-box">DEJARNOS</span><br>
        <span class="text-1-box">TUS DATOS</span><br><br>
        <span class="text-2-box mg-top-3">PRONTO NOS</span><br>
        <span class="text-2-box">COMUNICAREMOS CONTIGO</span>
      </div>
    </div>
    <div class="col-md-12 no-padding text-center">
      <%= image_tag 'footer-tky.png', class: 'footer-tky' %>
    </div>
  </div>
</div>
