<!-- Google Code for Amaretto Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 872646325;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "xgw1CKOlpWoQtY2OoAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/872646325/?label=xgw1CKOlpWoQtY2OoAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<div id="home">
  <div class="home-pattern-gracias">
    <div class="container clearfix">
      <div id="home-center" class="element_fade_in">
        <%= image_tag 'header-thankyou.png', class: 'align-top-thankyou header-thankyou' %>
        <div class="content-info-gracias center-block">
          <p>Gracias por tus datos, han sido</p>
          <p><strong>recibidos correctamente.</strong></p>
          <%= link_to 'Volver', index_path, class:'btn btn-dark-purple mt-20', data: {no_turbolink: true} %>
        </div>
        <%= image_tag 'footer-tky.png', class: 'footer-tky' %>
      </div>
    </div>
  </div>
</div>
